{% extends '@App/layout.html.twig' %}

{% block body %}

<h1>Products</h1>
<table class="table">
	<tr>
		<td>Id</td>
		<td>Title</td>
		<td>Price</td>
		<td>Category</td>
		<td>Actions</td>
	</tr>
	{% for product in products %}
		<tr>
			<td>{{ product.id }}</td>
			<td>{{ product.title }}</td>
			<td>{{ product.price }}</td>
			<td>{{ product.category }}</td>
			<td>
				<a href="{{ path('product_page', {id: product.id}) }}">View</a>
				<a href="{{ path('products_export', {id: product.id}) }}">Export</a>
				<a href="{{ path('product_edit', {id: product.id}) }}">Edit</a>
				<a href="{{ path('product_remove', {id: product.id}) }}">Remove</a>
			</td>
		</tr>

{#		{% set url = path('product_page', {id: product.id}) %}#}
{#		<a href="{{ url }}"> {{ product.title }} </a> {{ product.price }}  <br>#}

	{% endfor %}
</table>


{% endblock %}

{% block stylesheets %}

{% endblock %}
