{% extends '@App/layout.html.twig' %}

{% block body %}
	<h1>Cart</h1>
    <table class="table">
    	<tr>
    		<td>Id</td>
    		<td>Title</td>
    		<td>Price</td>
			<td>Category</td>
    		<td>Quantity</td>
    	</tr>
		{% if cart.items is defined %}
			{% for item in cart.items %}
				<tr>
					<td>#{{ item.product.id }}</td>
					<td>{{ item.product.title }}</td>
					<td>{{ item.price|number_format(2) }}</td>
					<td>{{ item.product.category }}</td>
{#					<td>{{ item.amount }}</td>#}

				</tr>
			{% endfor %}
    </table>
	<h3>Total : {{ cart.total }} UAH</h3>
	{% endif %}

{#	{% if cartIsEmpty %}#}
	<hr>
	<a href="{{ path('place_order') }}" class="btn btn-success">Place order</a>
	<button class="btn btn-danger" type="button">Clear cart</button>

{#	<td>#}
{#		<a href="{{ path('product_page', {id: product.id}) }}">View</a>#}
{#		<a href="{{ path('products_export', {id: product.id}) }}">Export</a>#}
{#		<a href="{{ path('product_edit', {id: product.id}) }}">Edit</a>#}
{#		<a href="{{ path('product_remove', {id: product.id}) }}">Remove</a>#}
{#	</td>#}

{% endblock %}

{% block stylesheets %}

{% endblock %}