{% extends '@App/layout.html.twig' %}

{% block body %}
	<h1>Cart</h1>
    <table class="table">
    	<tr>
    		<td>Id</td>
    		<td>Title</td>
    		<td>Price</td>
			<td>Category</td>
    		<td>Quantity</td>
    	</tr>
    	{% for item in cartItem %}
    		<tr>
    			<td>#{{ item.product.id }}</td>
    			<td>{{ item.product.title }}</td>
    			<td>{{ item.product.price }}</td>
    			<td>{{ item.product.category }}</td>
				<td>{{ item.amount }}</td>

    		</tr>


    	{% endfor %}
    </table>
	<h3>Total : {{ total }} UAH</h3>

{#	{% if cartIsEmpty %}#}
	<hr>
	<a href="{{ path('place_order') }}" class="btn btn-success">Place order</a>

{#	<td>#}
{#		<a href="{{ path('product_page', {id: product.id}) }}">View</a>#}
{#		<a href="{{ path('products_export', {id: product.id}) }}">Export</a>#}
{#		<a href="{{ path('product_edit', {id: product.id}) }}">Edit</a>#}
{#		<a href="{{ path('product_remove', {id: product.id}) }}">Remove</a>#}
{#	</td>#}

{% endblock %}

{% block stylesheets %}

{% endblock %}